{# templates/blog/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Map Index{% endblock %}

{% block page_contents %}
    <button type="button" class="btn btn-primary">Primary</button>
    <div id="map" style="height: 80vh; width: 98vw" data-geo-data="{{ geoData|json_encode }}"></div>

{% endblock %}
