{# templates/blog/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block javascripts  %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('map.js') }}" defer></script>
{% endblock %}
{% block title %}Map{% endblock %}

{% block page_contents %}
    <div id="map" style="height: 90vh; width: 100vw" data-geo-data="{{ geoData|json_encode }}"></div>
{% endblock %}
